{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css"  %}">
    </head>

    <body>
        <header>
            <nav>

                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
            </nav>
        </header>

        <main>
           <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
           </form>
        </main>



    <footer>
        Made with love by Scrumptious Recipes
    </footer>

    </body>

</html>
