{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css"  %}">
    </head>

    <body>
        <header>
            <nav>
                <a  href="/recipes">Main Page</a>
                {% comment %} <a href="{% url 'recipe_edit' %}">Main page</a> {% endcomment %}
            </nav>
        </header>

        <main>
            <a class="edit_button" href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
            <h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}">
            <p>{{ recipe_object.description }}</p>
            <div>4.3 Stars</div>
            <h2>Ingredients</h2>
        </main>

        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            <tbody class="ingredients-body">
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>

            </thead>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li> {{ step.instruction }}</li>
            {% endfor %}
        </ol>

    <footer>
        Made with love by Scrumptious Recipes
    </footer>

    </body>

</html>
